.card {
  background: #eee;
  margin: auto;
  display: grid;
  place-content: center;
  width: 300px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  margin-top: 5rem;
}
.card h1 {
  font-size: 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
}
form input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  outline: none;
}
form button {
  color: white;
  background: rgb(5, 178, 5);
  text-align: center;
  border: none;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0.3rem;
}
